In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

### How many KCs in each model

In [3]:
bkt = pd.read_csv('E:/Project/AL/Data/SamePerType/bkt_predict.txt', sep = '\t')

In [4]:
random = pd.read_csv('E:/Project/AL/Data/SamePerType/random_predict.txt', sep = '\t')

In [5]:
streak = pd.read_csv('E:/Project/AL/Data/SamePerType/streak_predict.txt', sep = '\t')

In [6]:
# Dictionary for mapping
dic = {'BKT': bkt, 'Random': random, 'Streak': streak}

In [7]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [8]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

                     BKT  Random  Streak
AD JCommTable4.R0C0  242    1290    1057
AD JCommTable4.R1C0  223    1231    1021
AD JCommTable5.R0C0  280    1382    1197
AD JCommTable5.R1C0  217    1346    1119
AD JCommTable6.R0C0  365    1597    1290
AD JCommTable6.R1C0  406    1881    1428
AD JCommTable8.R0C0  197    1200     995
AD done              231    1218    1077
AS JCommTable4.R0C0   22      60      13
AS JCommTable4.R1C0   38      47      40
AS JCommTable5.R0C0   13      19       5
AS JCommTable5.R1C0   14      39      18
AS JCommTable6.R0C0  186    1265     528
AS JCommTable6.R1C0  165    1239     515
AS JCommTable8.R0C0   59     207     112
AS done              170    1226     511
M  JCommTable4.R0C0   29      43      35
M  JCommTable4.R1C0   82      59      48
M  JCommTable5.R0C0   18      19      52
M  JCommTable5.R1C0   38      45      36
M  JCommTable6.R0C0  224    1246     466
M  JCommTable6.R1C0  251    1260     465
M  JCommTable8.R0C0   55      68      60
M  done              230    1238     446

In [9]:
# selected
numberKC(dic, 'KC (Selected)')

                  BKT  Random  Streak
JCommTable4.R0C0  293    1393    1105
JCommTable4.R1C0  343    1337    1109
JCommTable5.R0C0  311    1420    1254
JCommTable5.R1C0  269    1430    1173
JCommTable6.R0C0  775    4108    2284
JCommTable6.R1C0  822    4380    2408
JCommTable8.R0C0  311    1475    1167
done              631    3682    2034

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [10]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [11]:
findMaxOppPreKC(bkt)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       8.066667    30  4.647255e-01    30
AD JCommTable4.R1C0                       7.433333    30  5.033648e-01    30
AD JCommTable5.R0C0                       9.333333    30  4.125160e-01    30
AD JCommTable5.R1C0                       7.233333    30  4.796262e-01    30
AD JCommTable6.R0C0                      12.166667    30  3.612080e-01    30
AD JCommTable6.R1C0                      13.533333    30  3.194600e-01    30
AD JCommTable8.R0C0                       6.566667    30  7.071822e-01    30
AD done                                   7.700000    30  8.007223e-01    30
AS JCommTable4.R0C0                       1.294118    17  8.893298e-13    17
AS JCommTable4.R1C0                       1.809524    21  7.790908e-17    21
AS JCommTable5.R0C0                       1.444444     9  4.936240e-09     9
AS JCommTable5.R1C0                       1.076923    13  1.223608e-11    13
AS JCommTable6.R0C0                       6.200000    30  5.328248e-01    30
AS JCommTable6.R1C0                       5.500000    30  4.425913e-01    30
AS JCommTable8.R0C0                       2.034483    29  3.883713e-62    29
AS done                                   5.666667    30  8.450025e-01    30
M  JCommTable4.R0C0                       1.933333    15  1.174988e-13    15
M  JCommTable4.R1C0                       2.928571    28  1.772413e-21    28
M  JCommTable5.R0C0                       1.285714    14  1.269040e-14    14
M  JCommTable5.R1C0                       2.000000    19  3.403850e-16    19
M  JCommTable6.R0C0                       7.466667    30  4.940813e-01    30
M  JCommTable6.R1C0                       8.366667    30  6.250569e-01    30
M  JCommTable8.R0C0                       1.896552    29  3.877192e-25    29
M  done                                   7.666667    30  9.414122e-01    30

In [12]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      43.000000    30  9.936609e-01    30
AD JCommTable4.R1C0                      41.033333    30  9.927079e-01    30
AD JCommTable5.R0C0                      46.066667    30  9.770985e-01    30
AD JCommTable5.R1C0                      44.866667    30  9.744625e-01    30
AD JCommTable6.R0C0                      53.233333    30  8.941450e-01    30
AD JCommTable6.R1C0                      62.700000    30  8.733145e-01    30
AD JCommTable8.R0C0                      40.000000    30  9.706023e-01    30
AD done                                  40.600000    30  1.000000e+00    30
AS JCommTable4.R0C0                       2.727273    22  1.190042e-12    22
AS JCommTable4.R1C0                       1.958333    24  1.113683e-16    24
AS JCommTable5.R0C0                       2.111111     9  6.286175e-09     9
AS JCommTable5.R1C0                       1.950000    20  1.687639e-11    20
AS JCommTable6.R0C0                      42.166667    30  9.831607e-01    30
AS JCommTable6.R1C0                      41.300000    30  9.622192e-01    30
AS JCommTable8.R0C0                       6.900000    30  5.683679e-62    30
AS done                                  40.866667    30  1.000000e+00    30
M  JCommTable4.R0C0                       2.150000    20  1.674309e-13    20
M  JCommTable4.R1C0                       2.681818    22  2.307212e-21    22
M  JCommTable5.R0C0                       1.727273    11  1.643654e-14    11
M  JCommTable5.R1C0                       2.368421    19  4.257960e-16    19
M  JCommTable6.R0C0                      41.533333    30  9.946734e-01    30
M  JCommTable6.R1C0                      42.000000    30  9.994146e-01    30
M  JCommTable8.R0C0                       2.266667    30  5.674135e-25    30
M  done                                  41.266667    30  1.000000e+00    30

In [13]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      35.233333    30  9.762990e-01    30
AD JCommTable4.R1C0                      34.033333    30  9.782440e-01    30
AD JCommTable5.R0C0                      39.900000    30  9.590885e-01    30
AD JCommTable5.R1C0                      37.300000    30  9.547250e-01    30
AD JCommTable6.R0C0                      43.000000    30  8.525678e-01    30
AD JCommTable6.R1C0                      47.600000    30  8.058393e-01    30
AD JCommTable8.R0C0                      33.166667    30  9.625427e-01    30
AD done                                  35.900000    30  9.999953e-01    30
AS JCommTable4.R0C0                       1.857143     7  1.452328e-12     7
AS JCommTable4.R1C0                       1.600000    25  1.364981e-16    25
AS JCommTable5.R0C0                       1.000000     5  7.235925e-09     5
AS JCommTable5.R1C0                       1.636364    11  1.973761e-11    11
AS JCommTable6.R0C0                      17.600000    30  8.565177e-01    30
AS JCommTable6.R1C0                      17.166667    30  7.936488e-01    30
AS JCommTable8.R0C0                       3.733333    30  7.161384e-62    30
AS done                                  17.033333    30  9.963293e-01    30
M  JCommTable4.R0C0                       2.187500    16  2.268572e-13    16
M  JCommTable4.R1C0                       1.920000    25  3.243465e-21    25
M  JCommTable5.R0C0                       1.793103    29  2.511282e-14    29
M  JCommTable5.R1C0                       1.440000    25  6.109977e-16    25
M  JCommTable6.R0C0                      15.533333    30  8.285741e-01    30
M  JCommTable6.R1C0                      15.500000    30  9.045681e-01    30
M  JCommTable8.R0C0                       2.000000    30  7.149359e-25    30
M  done                                  14.866667    30  9.993444e-01    30

### How many questions each type were given to each student in each model

In [15]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [16]:
ptypeNumEachStudentConcat(dic)

                   BKT  Random     Streak
Problem Type
AD            6.166667      40  22.333333
AS            4.533333      40  13.666667
M             6.100000      40  12.100000