In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Load data with prediction

In [4]:
bkt = pd.read_csv('E:/Project/AL/Data/StepNameSet/bkt_predict.txt', sep = '\t')

In [24]:
random = pd.read_csv('E:/Project/AL/Data/StepNameSet/random_predict.txt', sep = '\t')

In [25]:
streak = pd.read_csv('E:/Project/AL/Data/StepNameSet/streak_predict.txt', sep = '\t')

### How many KCs in each model

In [26]:
# Dictionary for mapping
dic = {'BKT': bkt, 'Random': random, 'Streak': streak}
# , 'BKT_revise1': bktrevise1, 'BKT_revise2': bktrevise2

In [27]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [28]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

                     BKT  Random  Streak
AD JCommTable4.R0C0  184     450     755
AD JCommTable4.R1C0  194     452     689
AD JCommTable5.R0C0  220     541     756
AD JCommTable5.R1C0  201     493     699
AD JCommTable6.R0C0  323     607     878
AD JCommTable6.R1C0  317     689     947
AD JCommTable8.R0C0  166     420     671
AD done              196     448     738
AS JCommTable4.R0C0   15      21       4
AS JCommTable4.R1C0   14      26      30
AS JCommTable5.R0C0    9      11       3
AS JCommTable5.R1C0    7       7       9
AS JCommTable6.R0C0  136     328     278
AS JCommTable6.R1C0  121     317     266
AS JCommTable8.R0C0   38      57      49
AS done              123     319     264
M  JCommTable4.R0C0   13      23      65
M  JCommTable4.R1C0   58      89     128
M  JCommTable5.R0C0    9       5      22
M  JCommTable5.R1C0   37      63      25
M  JCommTable6.R0C0  483    1242     509
M  JCommTable6.R1C0  490    1246     502
M  JCommTable8.R0C0   44      48      47
M  done              491    1238     501

In [29]:
# selected
numberKC(dic, 'KC (Selected)')

                  BKT  Random  Streak
JCommTable4.R0C0  212     494     824
JCommTable4.R1C0  266     567     847
JCommTable5.R0C0  238     557     781
JCommTable5.R1C0  245     563     733
JCommTable6.R0C0  942    2177    1665
JCommTable6.R1C0  928    2252    1715
JCommTable8.R0C0  248     525     767
done              810    2005    1503

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [22]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [23]:
findMaxOppPreKC(bkt)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       6.133333    30  6.187017e-01    30
AD JCommTable4.R1C0                       6.466667    30  7.364314e-01    30
AD JCommTable5.R0C0                       7.333333    30  5.199690e-01    30
AD JCommTable5.R1C0                       6.700000    30  6.934350e-01    30
AD JCommTable6.R0C0                      10.766667    30  5.006741e-01    30
AD JCommTable6.R1C0                      10.566667    30  5.362631e-01    30
AD JCommTable8.R0C0                       5.533333    30  7.708092e-01    30
AD done                                   6.533333    30  8.542796e-01    30
AS JCommTable4.R0C0                       1.250000    12  7.887149e-13    12
AS JCommTable4.R1C0                       1.166667    12  2.812879e-14    12
AS JCommTable5.R0C0                       1.125000     8  1.543809e-09     8
AS JCommTable5.R1C0                       1.166667     6  7.519359e-10     6
AS JCommTable6.R0C0                       4.533333    30  5.871231e-01    30
AS JCommTable6.R1C0                       4.033333    30  6.082915e-01    30
AS JCommTable8.R0C0                       1.357143    28  6.762492e-31    28
AS done                                   4.100000    30  9.380824e-01    30
M  JCommTable4.R0C0                       1.181818    11  1.038545e-14    11
M  JCommTable4.R1C0                       2.000000    29  5.790965e-30    29
M  JCommTable5.R0C0                       1.125000     8  3.623413e-10     8
M  JCommTable5.R1C0                       2.176471    17  1.937787e-23    17
M  JCommTable6.R0C0                      16.100000    30  9.314880e-01    30
M  JCommTable6.R1C0                      16.333333    30  9.422865e-01    30
M  JCommTable8.R0C0                       1.466667    30  1.217088e-30    30
M  done                                  16.366667    30  9.973339e-01    30

In [31]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      15.000000    30  9.724959e-01    30
AD JCommTable4.R1C0                      15.066667    30  9.844337e-01    30
AD JCommTable5.R0C0                      18.033333    30  9.109648e-01    30
AD JCommTable5.R1C0                      16.433333    30  9.492427e-01    30
AD JCommTable6.R0C0                      20.233333    30  9.311991e-01    30
AD JCommTable6.R1C0                      22.966667    30  9.044876e-01    30
AD JCommTable8.R0C0                      14.000000    30  9.989977e-01    30
AD done                                  14.933333    30  9.999998e-01    30
AS JCommTable4.R0C0                       1.500000    14  2.512670e-58    14
AS JCommTable4.R1C0                       1.368421    19  2.298832e-11    19
AS JCommTable5.R0C0                       1.571429     7  1.188628e-10     7
AS JCommTable5.R1C0                       1.000000     7  4.558999e-09     7
AS JCommTable6.R0C0                      10.933333    30  9.635052e-01    30
AS JCommTable6.R1C0                      10.566667    30  9.809405e-01    30
AS JCommTable8.R0C0                       1.900000    30  2.261552e-13    30
AS done                                  10.633333    30  9.997906e-01    30
M  JCommTable4.R0C0                       1.533333    15  1.307449e-15    15
M  JCommTable4.R1C0                       3.178571    28  3.114783e-13    28
M  JCommTable5.R0C0                       1.250000     4  7.760087e-10     4
M  JCommTable5.R1C0                       2.863636    22  2.591377e-10    22
M  JCommTable6.R0C0                      41.400000    30  9.994148e-01    30
M  JCommTable6.R1C0                      41.533333    30  9.989308e-01    30
M  JCommTable8.R0C0                       1.655172    29  5.407394e-11    29
M  done                                  41.266667    30  1.000000e+00    30

In [30]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)           Prediction
                                              mean count           mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      25.166667    30   9.742286e-01    30
AD JCommTable4.R1C0                      22.966667    30   9.909337e-01    30
AD JCommTable5.R0C0                      25.200000    30   9.621720e-01    30
AD JCommTable5.R1C0                      23.300000    30   9.445871e-01    30
AD JCommTable6.R0C0                      29.266667    30   7.949056e-01    30
AD JCommTable6.R1C0                      31.566667    30   8.176302e-01    30
AD JCommTable8.R0C0                      22.366667    30   9.997809e-01    30
AD done                                  24.600000    30   9.999402e-01    30
AS JCommTable4.R0C0                       1.000000     4   6.123745e-20     4
AS JCommTable4.R1C0                       1.428571    21   6.700555e-16    21
AS JCommTable5.R0C0                       1.000000     3   7.691697e-26     3
AS JCommTable5.R1C0                       1.800000     5   4.138539e-14     5
AS JCommTable6.R0C0                       9.266667    30   9.472539e-01    30
AS JCommTable6.R1C0                       8.866667    30   9.750020e-01    30
AS JCommTable8.R0C0                       1.633333    30  1.162270e-103    30
AS done                                   8.800000    30   9.977152e-01    30
M  JCommTable4.R0C0                       2.407407    27  5.182207e-137    27
M  JCommTable4.R1C0                       4.266667    30  8.849444e-263    30
M  JCommTable5.R0C0                       1.294118    17   2.072681e-09    17
M  JCommTable5.R1C0                       1.388889    18   9.913553e-10    18
M  JCommTable6.R0C0                      16.966667    30   8.813333e-01    30
M  JCommTable6.R1C0                      16.733333    30   9.657801e-01    30
M  JCommTable8.R0C0                       1.566667    30   3.467744e-91    30
M  done                                  16.700000    30   9.993743e-01    30

### How many questions each type were given to each student in each model

In [32]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [33]:
ptypeNumEachStudentConcat(dic)

                    BKT  Random     Streak
Problem Type
AD             4.466667      14  11.066667
AS             3.200000      10   5.700000
M             12.000000      40  12.933333