In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
random = pd.read_csv('E:/Project/AL/Data/Same_80/random_80_predict.txt', sep = '\t')

In [3]:
# Dictionary for mapping
dic = {'Random': random}
# 'BKT': bkt, 'Streak': streak, 'BKT refit': refit

In [4]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [5]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

                     Random
AD JCommTable4.R0C0    2474
AD JCommTable4.R1C0    2460
AD JCommTable5.R0C0    2633
AD JCommTable5.R1C0    2499
AD JCommTable6.R0C0    2992
AD JCommTable6.R1C0    3292
AD JCommTable8.R0C0    2400
AD done                2429
AS JCommTable4.R0C0      38
AS JCommTable4.R1C0      90
AS JCommTable5.R0C0      36
AS JCommTable5.R1C0      37
AS JCommTable6.R0C0    2465
AS JCommTable6.R1C0    2458
AS JCommTable8.R0C0     382
AS done                2428
M  JCommTable4.R0C0      32
M  JCommTable4.R1C0     125
M  JCommTable5.R0C0      27
M  JCommTable5.R1C0      60
M  JCommTable6.R0C0    2469
M  JCommTable6.R1C0    2469
M  JCommTable8.R0C0      76
M  done                2431

In [6]:
# selected
numberKC(dic, 'KC (Selected)')

                  Random
JCommTable4.R0C0    2544
JCommTable4.R1C0    2675
JCommTable5.R0C0    2696
JCommTable5.R1C0    2596
JCommTable6.R0C0    7926
JCommTable6.R1C0    8219
JCommTable8.R0C0    2858
done                7288

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [7]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [8]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)           Prediction
                                              mean count           mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      82.466667    30   9.987277e-01    30
AD JCommTable4.R1C0                      82.000000    30   9.970271e-01    30
AD JCommTable5.R0C0                      87.766667    30   9.857678e-01    30
AD JCommTable5.R1C0                      83.300000    30   9.965660e-01    30
AD JCommTable6.R0C0                      99.733333    30   9.190939e-01    30
AD JCommTable6.R1C0                     109.733333    30   8.953081e-01    30
AD JCommTable8.R0C0                      80.000000    30   9.692172e-01    30
AD done                                  80.966667    30   1.000000e+00    30
AS JCommTable4.R0C0                       2.533333    15   1.845919e-09    15
AS JCommTable4.R1C0                       3.333333    27   5.467592e-14    27
AS JCommTable5.R0C0                       2.769231    13   9.619996e-10    13
AS JCommTable5.R1C0                       2.466667    15   2.390096e-09    15
AS JCommTable6.R0C0                      82.166667    30   9.818617e-01    30
AS JCommTable6.R1C0                      81.933333    30   9.558456e-01    30
AS JCommTable8.R0C0                      12.733333    30  7.846882e-176    30
AS done                                  80.933333    30   1.000000e+00    30
M  JCommTable4.R0C0                       2.133333    15   5.476653e-10    15
M  JCommTable4.R1C0                       4.629630    27   2.219888e-42    27
M  JCommTable5.R0C0                       2.454545    11   8.993753e-11    11
M  JCommTable5.R1C0                       4.000000    15   8.868880e-10    15
M  JCommTable6.R0C0                      82.300000    30   9.951778e-01    30
M  JCommTable6.R1C0                      82.300000    30   9.987638e-01    30
M  JCommTable8.R0C0                       2.533333    30   2.765487e-11    30
M  done                                  81.033333    30   1.000000e+00    30

### How many questions each type were given to each student in each model

In [9]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [10]:
ptypeNumEachStudentConcat(dic)

              Random
Problem Type
AD                80
AS                80
M                 80