In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
bkt_random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80_BKTrandom_firstAttempt/bkt_random_predict.txt', sep = '\t')

In [3]:
# Dictionary for mapping
dic = {'BKT (random_parameters': bkt_random}
# 'BKT': bkt, 'Streak': streak, 'BKT refit': refit

In [4]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [5]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

                     BKT (random_parameters
AD JCommTable4.R0C0                     304
AD JCommTable4.R1C0                     304
AD JCommTable5.R0C0                     304
AD JCommTable5.R1C0                     304
AD JCommTable6.R0C0                     304
AD JCommTable6.R1C0                     304
AD JCommTable8.R0C0                     304
AD done                                 304
AS JCommTable4.R0C0                      18
AS JCommTable4.R1C0                      23
AS JCommTable5.R0C0                       8
AS JCommTable5.R1C0                       1
AS JCommTable6.R0C0                     178
AS JCommTable6.R1C0                     178
AS JCommTable8.R0C0                      79
AS done                                 178
M  JCommTable4.R0C0                      10
M  JCommTable4.R1C0                      22
M  JCommTable5.R0C0                       8
M  JCommTable6.R0C0                     204
M  JCommTable6.R1C0                     204
M  JCommTable8.R0C0                      54
M  done                                 204

In [6]:
# selected
numberKC(dic, 'KC (Selected)')

                  BKT (random_parameters
JCommTable4.R0C0                     332
JCommTable4.R1C0                     349
JCommTable5.R0C0                     320
JCommTable5.R1C0                     305
JCommTable6.R0C0                     686
JCommTable6.R1C0                     686
JCommTable8.R0C0                     437
done                                 686

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [7]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [8]:
findMaxOppPreKC(bkt_random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      10.133333    30  9.871581e-01    30
AD JCommTable4.R1C0                      10.133333    30  9.992996e-01    30
AD JCommTable5.R0C0                      10.133333    30  9.121507e-01    30
AD JCommTable5.R1C0                      10.133333    30  9.975219e-01    30
AD JCommTable6.R0C0                      10.133333    30  7.890833e-01    30
AD JCommTable6.R1C0                      10.133333    30  6.874826e-01    30
AD JCommTable8.R0C0                      10.133333    30  9.733739e-01    30
AD done                                  10.133333    30  9.975194e-01    30
AS JCommTable4.R0C0                       1.500000    12  1.070268e-09    12
AS JCommTable4.R1C0                       1.352941    17  2.277176e-09    17
AS JCommTable5.R0C0                       1.142857     7  3.303360e-09     7
AS JCommTable5.R1C0                       1.000000     1  2.069389e-07     1
AS JCommTable6.R0C0                       5.933333    30  8.862353e-01    30
AS JCommTable6.R1C0                       5.933333    30  7.512531e-01    30
AS JCommTable8.R0C0                       2.633333    30  3.960920e-22    30
AS done                                   5.933333    30  9.968714e-01    30
M  JCommTable4.R0C0                       1.111111     9  1.316000e-09     9
M  JCommTable4.R1C0                       1.466667    15  1.718919e-09    15
M  JCommTable5.R0C0                       1.333333     6  3.081384e-09     6
M  JCommTable6.R0C0                       6.800000    30  9.384549e-01    30
M  JCommTable6.R1C0                       6.800000    30  9.285205e-01    30
M  JCommTable8.R0C0                       1.800000    30  4.355908e-10    30
M  done                                   6.800000    30  9.998519e-01    30

### How many questions each type were given to each student in each model

In [9]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [10]:
ptypeNumEachStudentConcat(dic)

              BKT (random_parameters
Problem Type
AD                         10.133333
AS                          5.933333
M                           6.800000