In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Load data with prediction

In [2]:
bkt = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/bkt_predict.txt', sep = '\t')

In [3]:
random = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/random_predict.txt', sep = '\t')

In [4]:
streak = pd.read_csv('E:/Project/AL/Data/WhereWhenHowNoFoa_80/streak_predict.txt', sep = '\t')

### How many KCs in each model

In [5]:
# Dictionary for mapping
dic = {'BKT': bkt, 'Random': random, 'Streak': streak}

In [6]:
def numberKC(dic, colname):
    arr = []
    names = []
    for key in dic:
        arr.append(pd.DataFrame(dic[key][colname].value_counts()).sort_index())
        names.append(key)
    res = pd.concat(arr, axis = 1)
    res.columns = names
    return res

In [7]:
# ptype_selection
numberKC(dic, 'KC (ptype_selection)')

                     BKT  Random  Streak
AD JCommTable4.R0C0  217    2473     950
AD JCommTable4.R1C0  192    2447     909
AD JCommTable5.R0C0  236    2536    1003
AD JCommTable5.R1C0  206    2456     917
AD JCommTable6.R0C0  324    2797    1068
AD JCommTable6.R1C0  335    3006    1159
AD JCommTable8.R0C0  174    2410     883
AD done              192    2428     965
AS JCommTable4.R0C0   29      45      30
AS JCommTable4.R1C0   34      37      23
AS JCommTable5.R0C0   25      33      12
AS JCommTable5.R1C0   18      15       2
AS JCommTable6.R0C0  224    2474     688
AS JCommTable6.R1C0  212    2474     697
AS JCommTable8.R0C0   60     354     170
AS done              202    2427     643
M  JCommTable4.R0C0   30      32      26
M  JCommTable4.R1C0   26      30      22
M  JCommTable5.R0C0   29      34      17
M  JCommTable5.R1C0   17      22       2
M  JCommTable6.R0C0  220    2470     584
M  JCommTable6.R1C0  229    2451     597
M  JCommTable8.R0C0   43      64      60
M  done              207    2437     562

In [8]:
# selected
numberKC(dic, 'KC (Selected)')

                  BKT  Random  Streak
JCommTable4.R0C0  276    2550    1006
JCommTable4.R1C0  252    2514     954
JCommTable5.R0C0  290    2603    1032
JCommTable5.R1C0  241    2493     921
JCommTable6.R0C0  768    7741    2340
JCommTable6.R1C0  776    7931    2453
JCommTable8.R0C0  277    2828    1113
done              601    7292    2170

### Find the max Opportunity (ptype_selection) and related Prediction

The related prediction of max(Opportunity (ptype_selection)) turns out to be max(Prediction).

In [9]:
def findMaxOppPreKC(df):
    maxOppKCidx = df.loc[df.groupby(['KC (ptype_selection)', 'Anon Student Id'])['Opportunity (ptype_selection)'].idxmax()] # slice data by row index where max(Opportunity)
    maxOppPre = maxOppKCidx.groupby('KC (ptype_selection)').agg({'Opportunity (ptype_selection)': ['mean', 'count'], 'Prediction': ['mean', 'count']}).sort_index()
    # save the data
    return maxOppPre

In [10]:
findMaxOppPreKC(bkt)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                       7.233333    30  4.723846e-01    30
AD JCommTable4.R1C0                       6.400000    30  6.228090e-01    30
AD JCommTable5.R0C0                       7.866667    30  3.630378e-01    30
AD JCommTable5.R1C0                       6.866667    30  6.814750e-01    30
AD JCommTable6.R0C0                      10.800000    30  4.496009e-01    30
AD JCommTable6.R1C0                      11.166667    30  3.900955e-01    30
AD JCommTable8.R0C0                       5.800000    30  6.714373e-01    30
AD done                                   6.400000    30  6.849642e-01    30
AS JCommTable4.R0C0                       1.260870    23  2.664685e-08    23
AS JCommTable4.R1C0                       1.360000    25  4.999391e-08    25
AS JCommTable5.R0C0                       1.250000    20  1.001243e-07    20
AS JCommTable5.R1C0                       1.125000    16  2.820905e-09    16
AS JCommTable6.R0C0                       7.466667    30  5.928472e-01    30
AS JCommTable6.R1C0                       7.066667    30  5.337187e-01    30
AS JCommTable8.R0C0                       2.000000    30  9.099253e-13    30
AS done                                   6.733333    30  9.177535e-01    30
M  JCommTable4.R0C0                       1.578947    19  5.211025e-08    19
M  JCommTable4.R1C0                       1.238095    21  1.063469e-07    21
M  JCommTable5.R0C0                       1.450000    20  6.770049e-08    20
M  JCommTable5.R1C0                       1.062500    16  1.538174e-08    16
M  JCommTable6.R0C0                       7.333333    30  5.498493e-01    30
M  JCommTable6.R1C0                       7.633333    30  5.420617e-01    30
M  JCommTable8.R0C0                       1.482759    29  3.347695e-09    29
M  done                                   6.900000    30  8.862132e-01    30

In [11]:
findMaxOppPreKC(random)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      82.433333    30  1.000000e+00    30
AD JCommTable4.R1C0                      81.566667    30  1.000000e+00    30
AD JCommTable5.R0C0                      84.533333    30  1.000000e+00    30
AD JCommTable5.R1C0                      81.866667    30  1.000000e+00    30
AD JCommTable6.R0C0                      93.233333    30  9.839323e-01    30
AD JCommTable6.R1C0                     100.200000    30  9.655203e-01    30
AD JCommTable8.R0C0                      80.333333    30  9.676011e-01    30
AD done                                  80.933333    30  1.000000e+00    30
AS JCommTable4.R0C0                       2.142857    21  4.743222e-08    21
AS JCommTable4.R1C0                       1.480000    25  8.742531e-08    25
AS JCommTable5.R0C0                       1.571429    21  1.817483e-07    21
AS JCommTable5.R1C0                       1.071429    14  4.544606e-09    14
AS JCommTable6.R0C0                      82.466667    30  9.968814e-01    30
AS JCommTable6.R1C0                      82.466667    30  9.522385e-01    30
AS JCommTable8.R0C0                      11.800000    30  1.586200e-12    30
AS done                                  80.900000    30  1.000000e+00    30
M  JCommTable4.R0C0                       1.684211    19  8.986617e-08    19
M  JCommTable4.R1C0                       1.500000    20  1.771684e-07    20
M  JCommTable5.R0C0                       1.700000    20  1.155706e-07    20
M  JCommTable5.R1C0                       1.375000    16  2.779067e-08    16
M  JCommTable6.R0C0                      82.333333    30  1.000000e+00    30
M  JCommTable6.R1C0                      81.700000    30  9.999974e-01    30
M  JCommTable8.R0C0                       2.133333    30  5.803596e-09    30
M  done                                  81.233333    30  1.000000e+00    30

In [12]:
findMaxOppPreKC(streak)

                     Opportunity (ptype_selection)          Prediction
                                              mean count          mean count
KC (ptype_selection)
AD JCommTable4.R0C0                      31.666667    30  9.939265e-01    30
AD JCommTable4.R1C0                      30.300000    30  9.988394e-01    30
AD JCommTable5.R0C0                      33.433333    30  9.901413e-01    30
AD JCommTable5.R1C0                      30.566667    30  9.999344e-01    30
AD JCommTable6.R0C0                      35.600000    30  8.330129e-01    30
AD JCommTable6.R1C0                      38.633333    30  7.764343e-01    30
AD JCommTable8.R0C0                      29.433333    30  8.927448e-01    30
AD done                                  32.166667    30  9.999439e-01    30
AS JCommTable4.R0C0                       2.142857    14  5.276147e-08    14
AS JCommTable4.R1C0                       1.533333    15  1.028560e-07    15
AS JCommTable5.R0C0                       1.500000     8  1.870543e-07     8
AS JCommTable5.R1C0                       1.000000     2  4.710158e-09     2
AS JCommTable6.R0C0                      22.933333    30  8.839347e-01    30
AS JCommTable6.R1C0                      23.233333    30  7.946429e-01    30
AS JCommTable8.R0C0                       5.666667    30  1.875722e-12    30
AS done                                  21.433333    30  9.999503e-01    30
M  JCommTable4.R0C0                       1.857143    14  1.059299e-07    14
M  JCommTable4.R1C0                       1.571429    14  2.164227e-07    14
M  JCommTable5.R0C0                       1.888889     9  1.301984e-07     9
M  JCommTable5.R1C0                       1.000000     2  2.715506e-08     2
M  JCommTable6.R0C0                      19.466667    30  9.395984e-01    30
M  JCommTable6.R1C0                      19.900000    30  9.102641e-01    30
M  JCommTable8.R0C0                       2.000000    30  6.862899e-09    30
M  done                                  18.733333    30  9.984308e-01    30

### How many questions each type were given to each student in each model

In [13]:
def ptypeNumEachStudentConcat(df):
    mean_arr, names = [], []
    for key in dic:
        dic[key]['Problem Type'] = dic[key]['Problem Name'].str[0:2] # creat 'Problem Name' column
        problem = dic[key][['Anon Student Id', 'Problem Name', 'Problem Type']].drop_duplicates()
        problem_cnt = problem.groupby(['Problem Type', 'Anon Student Id'], as_index = False).count()
        cnt_mean = problem_cnt.groupby('Problem Type').mean()
        mean_arr.append(cnt_mean)
        names.append(key)
    res = pd.concat(mean_arr, axis = 1)
    res.columns = names
    return res

In [14]:
ptypeNumEachStudentConcat(dic)

                   BKT  Random     Streak
Problem Type
AD            5.266667      80  24.600000
AS            5.466667      80  18.833333
M             5.766667      80  16.133333